.background {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #161415;
  width: 100%;
  z-index: 0;
}

.center-align {
  display: flex;
  flex-wrap: wrap;
  margin: 10vh 0;
  justify-content: center;
  align-items: center;
}
