.post-paragraph p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: fit-content;
  padding: 1px 4px;
  font-size: 1rem;
  color: red;
  z-index: 2;
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .post-paragraph p {
    padding: 0.8px 3.2px;
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 850px) and (max-width: 1000px) {
  .post-paragraph p {
    padding: 0.6px 2.4px;
    font-size: 0.6rem;
  }
}

@media only screen and (min-width: 700px) and (max-width: 850px) {
  .post-paragraph p {
    padding: 0.5px 1.8px;
    font-size: 0.5rem;
  }
}

@media only screen and (min-width: 530px) and (max-width: 700px) {
  .post-paragraph p {
    height: 3vh;
    padding: 2.2px 8.8px;
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 370px) and (max-width: 530px) {
  .post-paragraph p {
    padding: 2px 8px;
    margin: 0;
    font-size: 0.4rem;
  }
}

@media only screen and (min-width: 250px) and (max-width: 370px) {
  .post-paragraph p {
    height: 2.5vh;
    padding: 0.6px 7.2px;
    margin: 0;
    font-size: 0.3rem;
  }
}
